table{
    border-collapse: collapse;
}

td{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

th{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

table, th, td {
    border: 1px solid black;
}
input{
    margin-bottom: 1rem;
    display: block;
}

img{
    max-width: 100px;
}

.btn{
    margin-bottom: 1rem;
}

.tombol{
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    border: 0;
    outline: 0;
}

.tombol:hover{
    cursor: pointer;
}

.tombol-edit{
    background-color: yellow;
    color: black;
}

.tombol-edit:hover{
    background-color: orange;
    color: white;
}

.tombol-edit:active{
    background-color: darkorange;
    color: white;
}

.tombol-hapus{
    background-color: red;
    color: white;
}

.tombol-hapus:hover{
    background-color: darkred;
    color: white;
}

.tombol-hapus:active{
    background-color: brown;
    color: white;
}